
<div class="container">
<div class="row">
    <div class="col-4 img">
<img src="{{imgSrc}}">
</div>
<div class="col-6"
<h1>Dashboard Page</h1>
{{> _dashboard}}
<a href="/notes/add">Add New Note!</a>
</div>
</div>