<div class="container">
    <h1>Welcome to Notes!</h1>
    <div class="login">
        <h1>Please Register/Login here!</h1>
        <p>Create your personal notes</p>
        <a href="/auth/google">
            <button type="button">Login With google</button>
        </a>
    </div>
</div>